

  <!-- Navbar -->
  <nav class="navbar sticky-top navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">
      <a class="navbar-brand" href="https://twitter.com/montychannel/status/1573364078000619521?s=12&t=oNyfs_cZzYh_dgYXLXsESQ">KPL</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav">
          <a class="nav-link " href="/home">Home</a>
          <a class="nav-link" href="/gameweek/1">Gameweek Info</a>
          <a class="nav-link" href="/manager/4279358">Team Spotlight</a>
          <a class="nav-link" href="/stinkers">Stinkers</a>
          <a class="nav-link" href="/davidmay">DMW11</a>
          <a class="nav-link" href="/hipster?percent=5">Hipster</a>
        </div>
      </div>
    </div>
  </nav>
  <!-- Navbar -->

  <!-- Background image -->
  <div
    id="intro-example"
    class="position-relative overflow-hidden p-3 p-md-5 m-md-3 text-center bg-light"
    style="background-image: url('https://source.unsplash.com/collection/1791496');
    min-height: 250px;"
  >
  <div class="col-md-5 p-lg-5 mx-auto my-auto">
    <h1 class="display-4 fw-bold">KPL GAZETTE</h1>
    <p class="lead font-weight-normal">And an even wittier subheading to boot.</p>
   
  </div>
  </div>
  <!-- Background image -->
</header>